*{
    margin:0;
    padding:0;
    font-family: assistant,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
header{
     display: flex;
     background-color:#f5f5f6;
     height: 80px;
     justify-content: space-between;
     align-items: center;
     border-bottom: 1px solid #6b6060;
}
.myntra_home{
      height: 30px;
}
.logo_container{
    margin-left: 4%;
}
.action_bar{
    margin-right: 4%;
}
.nav_bar{
    display:flex;
    min-width: 500px;
    justify-content: space-evenly;
}
.nav_bar{
    font-size: 14px;
    letter-spacing: .2px;
    color:#232c3f;
    font-transform: uppercase;
    text-decoration: none;
}
.nav_bar a{
      
      font-size: 14px;
      letter-spacing: .3px;
      color: #282c3f;
      font-weight: 500;
     text-decoration:none;
      padding: 35px 0;
}
.nav_bar a:hover{
    border-bottom:2px solid #f315c3 ;
}
.nav_bar a sup{
    color:#ff3f6c;
    font-size: 10px;
}
.search.bar{
    height: 30px;
    min-width: 500px;
    width: 25%;
    display: flex;
    align-items: center;
}
.search_icon{
    box-sizing: content-box;
       height: 20px;
       padding: 10px;

     background-color: #f5f5f6;
     color: #282c3f;
     font-weight: 400;
     border-radius: 3px 0 0 3px;
}
.search_input{
       color: #696e79;
       background-color: #f5f5f6;
       flex-grow: 1;
       height: 30px;
       border: 0;
       border-radius: 0 4px 4px 0;
}
.action_bar{
    display: flex;
    min-width: 280px;
    justify-content: space-evenly;
}

.action_container{
      display: flex;
      flex-direction: column;
      align-items: center;
}
.banner_container{
    margin: 40px 0;

}
.banner_image{
    width: 100%;
}

.category_heading {
    text-transform: uppercase;
    color:#3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;

}
.category_item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.sale_item{
    width:300px;
}
.footer_container{
    padding:30px 0px 40px 0px;
    background: #fafbfc;
    display: flex;
    justify-content: space-evenly;
}
.footer_column{
    display:flex;
    flex-direction: column;

}
.footer_column a {
    color: #696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}
.footer_column h3{
    color: #282c3f;
    font-size: 15px;
    margin-bottom: 30px;
}
.copyright{
    color:#94969f;
    text-align: end;
    padding: 20px;
}